<!DOCTYPE html>
<html>
    <title>WallETH</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#01579B" />
    </head>

    <body> 
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended light-blue darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Balance total:</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Balance total:</a>
                        </div>
                    </div>
                    <div class="nav-content center">

                        <a id="update-balance" class=" btn btn-floating btn-large tooltipped halfway-fab waves-effect waves-light lime darken-2 pulse" data-position="bottom" data-delay="50" data-tooltip="Actualizar balance">
                            <i class="material-icons">cached</i>
                        </a>
                    </div>
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-4" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/blue.jpg" class="" >
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        <a><span class="white-text name">ETHEREUM</span></a>
                        {{#if data}}                        
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>  
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs" class="collapsible-header">Inicio<i class="material-icons">home</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs/operations" class="collapsible-header">Operaciones<i class="material-icons">blur_on</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Administrador<i class="material-icons">account_circle</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/check-accounts">Consultar cuentas<i class="material-icons">account_balance_wallet</i></a></li>                                                                
                                    <li><a href="/ethWebjs/data-owners">Gestionar autorizadores<i class="material-icons">person_pin</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Solicitudes<i class="material-icons">assignment</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/pending-request">Pendientes<i class="material-icons">pause_circle_filled</i></a></li>
                                    <li><a href="/ethWebjs/exec-request">Ejecutadas<i class="material-icons">play_circle_filled</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Developers<i class="material-icons">code</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {{#if data}}
                                    <li><a href="/ethWebjs/swagger" target="_blank">API<i class="material-icons">adb</i></a></li>                                    
                                    {{else}}
                                    <li>
                                        <a href='/ethWebjs/create-user' class="collapsible-header">Registrarme<i class="material-icons">person_add</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/login' class="collapsible-header">Iniciar sesión<i class="material-icons">beenhere</i></a>                            
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{#if data}}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Contratos<i class="material-icons">insert_drive_file</i></a>
                            <div class="collapsible-body">
                                <ul>                                    
                                    <li>
                                        <a href="/ethWebjs/contracts">Crear contrato<i class="material-icons">note_add</i></a>
                                    </li>                                                                        

                                    <li>
                                        <a href='/ethWebjs/manage-contracts/' class="collapsible-header">Contratos creados<i class="material-icons">library_books</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/contracts/participant' class="collapsible-header"><i class="material-icons">assignment_ind</i>Participando</a>                            
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </header>
        <main class=" center-align content">          
            <main class="center-align">
                <div class="row">
                    <div class="col l6 m10 s12 offset-l3 offset-m1">                        
                        <div class="card z-depth-4">

                            <form id="form-account">
                                <div class="card-content">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                    <h6>Datos personales</h6>                                
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="name_user" name="name_user" type="text" class="validate is-input">
                                            <label for="name_user">Nombre</label>
                                            <div class="col s12">
                                                <span class="red-text name_user-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="first_name" name="first_name" type="text" class="validate is-input">
                                            <label for="first_name">Apellido paterno</label>
                                            <div class="col s12">
                                                <span class="red-text first_name-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name" name='last_name' type="text" class="validate is-input">
                                            <label for="last_name">Apellido materno</label>
                                            <div class="col s12">
                                                <span class="red-text last_name-error error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content grey lighten-2">
                                    <h6>Datos de la cuenta</h6>                                    
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" name="email" type="text" class="validate is-input">
                                            <label for="email">Correo </label>
                                            <div class="col s12">
                                                <span class="red-text email-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="password_user" name="password_user" type="password" class="validate is-input">
                                            <label for="password_user">Contraseña</label>
                                            <div class="col s12">
                                                <span class="red-text password_user-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="password_confirm" name='password_confirm' type="password" class="validate is-input">
                                            <label for="password_confirm">Confirmar contraseña</label>
                                            <div class="col s12">
                                                <span class="red-text password_confirm-error error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-align">                                            
                                        <a id="btn-cancel" class="btn red darken-4 waves-effect waves-light">Cancelar</a>
                                        <a id="btn-accept" class="btn light-blue darken-3 waves-effect waves-light">Guardar</a>                                        
                                    </div>                                        
                                </div>                                
                            </form>
                        </div>
                    </div>
                </div>            
            </main> 
        </main>   
        <footer class="page-footer light-blue darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>                
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>
        <script type="text/javascript" src="/js/abi.js"></script>
        <script type="text/javascript" src="/js/conf.js"></script>
        <script type="text/javascript" src="/js/methods.js"></script> 
        <script type="text/javascript" src="/js/main.js"></script>               
        <script type="text/javascript" src="/js/balance.js"></script>                
        <script type="text/javascript" src="/js/request/createAccRequest.js"></script>                
        <script type="text/javascript" src="/js/createAcc.js"></script>                
    </body>
</html>
