<!DOCTYPE html>
<html>
    <title>WallETH</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#01579B" />
    </head>

    <body> 
        {{#if message}}
        <div id="modal-notification" class="modal modal-formsg blue darken-3 valign-wrappe">
            <div class="modal-content valign-wrapper my-wrapper">
                <div class="row valign-wrappe">
                    <div class="col l4 s12 m3 center-align">
                        <i class="material-icons md-88 green-text">beenhere</i>
                    </div>
                    <div class="col l8 s12 m9 center-align center-align">
                        <div class="span-mobile">
                            <h5 class="white-text">{{message}}</h5>
                            <h6 class="white-text">{{data.email}}</h6>
                        </div>                        
                        <div class="div-balance">
                            <h1 class="white-text">{{message}}</h1>
                            <h5 class="white-text">{{data.email}}</h5>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
        {{/if}}
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended light-blue darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Balance total:</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Balance total:</a>
                        </div>
                    </div>
                    <div class="nav-content center">

                        <a id="update-balance" class=" btn btn-floating btn-large tooltipped halfway-fab waves-effect waves-light lime darken-2 pulse" data-position="bottom" data-delay="50" data-tooltip="Actualizar balance">
                            <i class="material-icons">cached</i>
                        </a>
                    </div>
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-4" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/blue.jpg" class="" >
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        <a><span class="white-text name">ETHEREUM</span></a>
                        {{#if data}}                        
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>  
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs" class="collapsible-header">Inicio<i class="material-icons">home</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs/operations" class="collapsible-header">Operaciones<i class="material-icons">blur_on</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Administrador<i class="material-icons">account_circle</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/check-accounts">Consultar cuentas<i class="material-icons">account_balance_wallet</i></a></li>                                                                
                                    <li><a href="/ethWebjs/data-owners">Gestionar autorizadores<i class="material-icons">person_pin</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Solicitudes<i class="material-icons">assignment</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/pending-request">Pendientes<i class="material-icons">pause_circle_filled</i></a></li>
                                    <li><a href="/ethWebjs/exec-request">Ejecutadas<i class="material-icons">play_circle_filled</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">                        
                        <li>
                            <a class="collapsible-header">Developers<i class="material-icons">code</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {{#if data}}
                                    <li><a href="/ethWebjs/swagger" target="_blank">API<i class="material-icons">adb</i></a></li>                                    
                                    <li>
                                        <a href="/ethWebjs/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href='/ethWebjs/create-user' class="collapsible-header">Registrarme<i class="material-icons">person_add</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/login' class="collapsible-header">Iniciar sesión<i class="material-icons">beenhere</i></a>                            
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>                        
                    </ul>
                </li>
                {{#if data}}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Contratos<i class="material-icons">insert_drive_file</i></a>
                            <div class="collapsible-body">
                                <ul>                                    
                                    <li>
                                        <a href="/ethWebjs/contracts">Crear contrato<i class="material-icons">note_add</i></a>
                                    </li>                                                                        

                                    <li>
                                        <a href='/ethWebjs/manage-contracts/' class="collapsible-header">Contratos creados<i class="material-icons">library_books</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/contracts/participant' class="collapsible-header"><i class="material-icons">assignment_ind</i>Participando</a>                            
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </header>
        <div id="modal-logout" class="modal modal-fixed-footer modal-conf">
            <div class="modal-content">
                <h4>¿Seguro que desea cerrar sesi&oacute;n?</h4>
            </div>
            <div class="modal-footer">
                <div class="right-align">
                    <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cancelar</a>                        
                    <a id="accept_logout" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>    
                </div>
            </div>
            <form id="close-session" method="GET" action="/ethWebjs/logout">                
            </form>
        </div>
        <main class="my-wrapper valign-wrapper center-align content">        
            <div class="row">
                <div class="col s12 l10 offset-l1">
                    <div class="row">
                        <div class="col s12 m6 l4">
                            <a href="#" id="newAcc">
                                <div class="card orange darken-4 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Crear cuenta</div>
                                        <i class="material-icons white-text large">add_circle_outline</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>
                        <div class="col s12 m6 l4">
                            <a href="#" id="checkBalance">
                                <div class="card teal darken-2 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Consultar cuenta</div>   
                                        <i class="material-icons white-text large">attach_money</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>
                        <div class="col s12 m6 l4">
                            <a href="#" class="emitUd">
                                <div class="card orange lighten-2 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Emitir unidades</div>
                                        <i class="material-icons white-text large">input</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>
                        <div class="col s12 m6 l6">
                            <a id="sendCoin" href="#">
                                <div class="card blue darken-2 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Enviar unidades</div>
                                        <i class="material-icons white-text large">compare_arrows</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>
                        <div class="col s12 m6 l6">
                            <a href="#" id="burnUd">
                                <div class="card red darken-2 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Quemar unidades</div>
                                        <i class="material-icons white-text large">whatshot</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>  
                        <div class="col s12 m6 l6">
                            <a href="#" id="emitMltsg">
                                <div class="card indigo darken-2 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Emitir con Multifirma</div>
                                        <i class="material-icons white-text large">people</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>    
                        <div class="col s12 m6 l6">
                            <a href="#" id="burnMltsg">
                                <div class="card  light-green darken-3 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Quemar con Multifirma</div>
                                        <i class="material-icons white-text large">people_outline</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>    
                    </div>
                </div>  
                <div id="modalEmit" class=" modal modal-fixed-footer">
                    <div class="modal-content">
                        <form id="formEmit" name="formEmit">
                            <div class="input-field col s12 l10 m10 offset-m1 offset-l1">
                                <div>                                    
                                    <input id="amount_emit" name="amount_emit" type="number">
                                    <label for="amount_emit">Monto a emitir</label>
                                </div>                                
                            </div>
                            <div class="col s12">
                                <span class="red-text amount_emit-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">
                                <select id="emit_to" name="emit_to" class="select-acc">                                    
                                </select>
                                <label>Para</label>  
                            </div>                            
                            <div class="col s12">
                                <span class="red-text emit_to-error error"></span>
                            </div>
                            <div class="input-field col s12 l10 m10 offset-m1 offset-l1">

                                <input id="password_decr" name="password_decr" type="password">
                                <label for="password_decr">Contrase&ntilde;a (administrador)</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text password_decr-error error"></span>
                            </div>                            
                        </form>                        
                        <div>
                            <h5 id="result_emmit"></h5>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cerrar</a>                        
                        <a id="accept_emmit" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div>                    
                </div>
                <div id="modalTransfer" class=" modal modal-fixed-footer">
                    <div class="modal-content">
                        <form id="formTransfer">
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                
                                <input id="amount_transfer" name="amount_transfer" type="number"  class="validate">
                                <label for="amount_transfer">Monto a transferir</label>
                            </div> 
                            <div class="col s12">
                                <span class="red-text amount_transfer-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                               
                                <select id="transfer_from" name="transfer_from" class="select-acc">                                    
                                </select>
                                <label>De</label>  
                            </div>
                            <div class="col s12">
                                <span class="red-text transfer_from-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">
                                <select id="transfer_to" name="transfer_to" class="select-acc">                                    
                                </select>
                                <label>Para</label>  
                            </div>
                            <div class="col s12">
                                <span class="red-text transfer_to-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                
                                <input id="password_transfer" name="password_transfer" type="password" class="validate">
                                <label for="password_transfer">Contrase&ntilde;a</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text password_transfer-error error"></span>
                            </div>
                            <div>
                                <h5 id="result_transfer"></h5>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">                        
                        <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cerrar</a>                        
                        <a id="accept_transfer" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div>                    
                </div>

                <div id="modalBurn" class=" modal modal-fixed-footer">
                    <div class="modal-content">
                        <form id="formBurn">                 
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                
                                <input id="amount_burn" name="amount_burn" type="number" class="validate">
                                <label for="amount_burn">Monto a quemar</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text amount_burn-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                               
                                <select id="txt_burn" name="txt_burn" class="select-acc">                                    
                                </select>
                                <label>Para</label>  
                            </div>
                            <div class="col s12">
                                <span class="red-text txt_burn-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                
                                <input id="password_burn" name="password_burn" type="password" class="validate">
                                <label for="password_burn">Contrase&ntilde;a (administrador)</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text password_burn-error error"></span>
                            </div>
                            <div>
                                <h5 id="result_burn"></h5>
                            </div>
                            <input type="hidden" id="txt_burn_v" value="" name="txt_burn_v">                            
                        </form>       
                    </div>
                    <div class="modal-footer">                        
                        <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cerrar</a>                        
                        <a id="accept_burn" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div>                    
                </div>

                <div id="modalNew" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <form id="formAccount">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="password_account" name="password_account" type="password" class="validate">
                                <label for="password_account">Contrase&ntilde;a</label>                                
                            </div>
                            <div class="col s12">
                                <span class="red-text password_account-error error"></span>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="password_confirm" name="password_confirm" type="password" class="validate">
                                <label for="password_confirm">Confirmar contrase&ntilde;a</label>                                
                            </div>
                            <div class="col s12">
                                <span class="red-text password_confirm-error error"></span>
                            </div>
                        </form>
                        <div>
                            <br>
                            <h6 id="result_account"></h6>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cerrar</a>                        
                        <a id="accept_account" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div> 
                </div>

                <div id="modalEmitMlt" class=" modal modal-fixed-footer">
                    <div class="modal-content">
                        <form id="formEmitMlt" name="formEmitMlt">
                            <div class="input-field col s12 l10 m10 offset-m1 offset-l1">
                                <div>                                    
                                    <input id="amount_emit_mlt" name="amount_emit_mlt" type="number">
                                    <label for="amount_emit_mlt">Monto a emitir</label>
                                </div>                                
                            </div>
                            <div class="col s12">
                                <span class="red-text amount_emit_mlt-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">
                                <select id="emit_to_mlt" name="emit_to_mlt" class="select-acc">                                    
                                </select>
                                <label>Para</label>  
                            </div>                            
                            <div class="col s12">
                                <span class="red-text emit_to_mlt-error error"></span>
                            </div>
                            <div class="input-field col s12 l10 m10 offset-m1 offset-l1">                               
                                <input id="password_decr_mlt" name="password_decr_mlt" type="password">
                                <label for="password_decr_mlt">Contrase&ntilde;a</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text password_decr_mlt-error error"></span>
                            </div>                            
                        </form>                        
                        <div>
                            <h5 id="result_emmit_mlt"></h5>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cerrar</a>                        
                        <a id="accept_emmit_mlt" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div>                    
                </div>

                <div id="modalBurnMltsg" class=" modal modal-fixed-footer">
                    <div class="modal-content">
                        <form id="formBurnMltsg">                 
                            <div class="input-field col col s12 m10 l10 offset-l1 offset-m1">                                
                                <input id="amount_burnMltsg" name="amount_burnMltsg" type="number" class="validate">
                                <label for="amount_burnMltsg">Monto a quemar</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text amount_burnMltsg-error error"></span>
                            </div>
                            <div class="input-field col s12 m10 l10 offset-l1 offset-m1">                                               
                                <select id="txt_burnMltsg" name="txt_burnMltsg" class="select-acc">                                    
                                </select>
                                <label>Para</label>  
                            </div>
                            <div class="col s12">
                                <span class="red-text txt_burnMltsg-error error"></span>
                            </div>
                            <div class="input-field col col s12 m10 l10 offset-l1 offset-m1">                                
                                <input id="password_burnMltsg" name="password_burnMltsg" type="password" class="validate">
                                <label for="password_burnMltsg">Contrase&ntilde;a</label>
                            </div>
                            <div class="col s12">
                                <span class="red-text password_burnMltsg-error error"></span>
                            </div>
                            <div>
                                <h5 id="result_burnMltsg"></h5>
                            </div>                           
                        </form>       
                    </div>
                    <div class="modal-footer">                        
                        <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cerrar</a>                        
                        <a id="accept_burnMltsg" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div>                    
                </div>

                <div id="modal-result" class="modal modal-fixed-footer">
                    <div class="modal-content ">
                        <h5 id="result-account"></h5>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                    </div>
                </div>                                        
            </div>
        </main>   
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Cuentas</h4>
                <ul class="collection">                            
                </ul>
            </div>            
        </div>    
        <div id="details" class="modal no-back">
            <div class="modal-content">
                <div class="col s12 m7">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <h5>Informaci&oacute;n de la cuenta</h5>                                
                                <p id="span-account" class="div-balance green-text"></p>
                                <p id="span-account-mobile" class="mobile-accounts green-text"></p>                                
                                <span id="span-balance" class="blue-text"></span>
                            </div>
                            <div class="card-action right-align">
                                <a  id="close-info" class="red-text btn-flat waves-effect waves-red" href="#">Cerrar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="page-footer light-blue darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>
        <script type="text/javascript" src="/js/abi.js"></script>
        <script type="text/javascript" src="/js/conf.js"></script>
        <script type="text/javascript" src="/js/methods.js"></script> 
        <script type="text/javascript" src="/js/main.js"></script>               
        <script type="text/javascript" src="/js/balance.js"></script>
        <script type="text/javascript" src="/js/emit.js"></script>
        <script type="text/javascript" src="/js/emit_multsig.js"></script>
        <script type="text/javascript" src="/js/burn_multsig.js"></script>
        <script type="text/javascript" src="/js/transfer.js"></script>
        <script type="text/javascript" src="/js/burn.js"></script>
        <script type="text/javascript" src="/js/newAccount.js"></script>
        <script type="text/javascript" src="/js/request/emitRequest.js"></script>
        <script type="text/javascript" src="/js/request/transferRequest.js"></script>
        <script type="text/javascript" src="/js/request/burnRequest.js"></script>
        <script type="text/javascript" src="/js/request/accountRequest.js"></script>
        <script type="text/javascript" src="/js/request/emitMltsgRequest.js"></script>
        <script type="text/javascript" src="/js/request/burnMltsgRequest.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>
    </body>
</html>
