<!DOCTYPE html>
<html>
    <title>WallETH</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#01579B" />
    </head>

    <body>
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended light-blue darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Balance total:</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Balance total:</a>
                        </div>
                    </div>
                    <div class="nav-content center">

                        <a id="update-balance" class=" btn btn-floating btn-large tooltipped halfway-fab waves-effect waves-light lime darken-2 pulse" data-position="bottom" data-delay="50" data-tooltip="Actualizar balance">
                            <i class="material-icons">cached</i>
                        </a>
                    </div>
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-4" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/blue.jpg" class="" >
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        <a><span class="white-text name">ETHEREUM</span></a>
                        {{#if data}}                        
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>  
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs" class="collapsible-header">Inicio<i class="material-icons">home</i></a>

                        </li>
                    </ul>
                </li>
                
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs/operations" class="collapsible-header">Operaciones<i class="material-icons">blur_on</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Administrador<i class="material-icons">account_circle</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/check-accounts">Consultar cuentas<i class="material-icons">account_balance_wallet</i></a></li>                                                                
                                    <li><a href="/ethWebjs/data-owners">Gestionar autorizadores<i class="material-icons">person_pin</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Solicitudes<i class="material-icons">assignment</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/pending-request">Pendientes<i class="material-icons">pause_circle_filled</i></a></li>
                                    <li><a href="/ethWebjs/exec-request">Ejecutadas<i class="material-icons">play_circle_filled</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">                        
                        <li>
                            <a class="collapsible-header">Developers<i class="material-icons">code</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {{#if data}}
                                    <li><a href="/ethWebjs/swagger" target="_blank">API<i class="material-icons">adb</i></a></li>                                    
                                    <li>
                                        <a href="/ethWebjs/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href='/ethWebjs/create-user' class="collapsible-header">Registrarme<i class="material-icons">person_add</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/login' class="collapsible-header">Iniciar sesión<i class="material-icons">beenhere</i></a>                            
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>                        
                    </ul>
                </li>
                {{#if data}}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Contratos<i class="material-icons">insert_drive_file</i></a>
                            <div class="collapsible-body">
                                <ul>                                    
                                    <li>
                                        <a href="/ethWebjs/contracts">Crear contrato<i class="material-icons">note_add</i></a>
                                    </li>                                                                        
                                    
                                    <li>
                                        <a href='/ethWebjs/manage-contracts/' class="collapsible-header">Contratos creados<i class="material-icons">library_books</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/contracts/participant' class="collapsible-header"><i class="material-icons">assignment_ind</i>Participando</a>                            
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </header>
        <div id="modal-logout" class="modal modal-fixed-footer modal-conf">
            <div class="modal-content">
                <h4>¿Seguro que desea cerrar sesi&oacute;n?</h4>
            </div>
            <div class="modal-footer">
                <div class="right-align">
                    <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3 ">Cancelar</a>                        
                    <a id="accept_logout" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>    
                </div>
            </div>
            <form id="close-session" method="GET" action="/ethWebjs/logout">                
            </form>
        </div>
        <main class="my-wrapper valign-wrapper center-align content">        
            <div class="row">
                <div class="col s12 l10 offset-l1">
                    <div class="row">                        
                        <div class="col s12 m6 l6">
                            <a href="#" id="sendSpei" class="options" data-bind="1">
                                <div class="card cyan darken-4 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Envio SPEI</div>
                                        <i class="material-icons white-text large">send</i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col s12 m6 l6">
                            <a href="#" id="sendConsignment" class="options" data-bind="2">
                                <div class="card red darken-2 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Envio de remesa</div>
                                        <i class="material-icons white-text large">transfer_within_a_station</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>  
                        <div class="col s12 m4 l4">
                            <a href="#" id="payServices" class="options" data-bind="3">
                                <div class="card light-blue darken-3 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Pago de servicios</div>
                                        <i class="material-icons white-text large">local_offer</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>    
                        <div class="col s12 m4 l4">
                            <a href="#" id="transferBtw" class="options" data-bind="4">
                                <div class="card yellow darken-3 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Transferencia</div>
                                        <i class="material-icons white-text large">import_export</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>    
                        <div class="col s12 m4 l4">
                            <a href="#" id="withdrawal" class="options" data-bind="5">
                                <div class="card  light-green darken-3 z-depth-5 hoverable">
                                    <div class="card-content">
                                        <div class="card-title white-text">Retiro</div>
                                        <i class="material-icons white-text large">low_priority</i>
                                    </div>                        
                                </div>
                            </a>
                        </div>    
                    </div>
                </div>                                                                                          
            </div>
        </main>
        <div id="modal-operation" class="modal modal-fixed-footer modal-msg_complete">
            <div class="modal-content">             
                <h4 id="operation-title">Espere...</h4>
                <h6 id="message-operation"></h6>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn modal-action cancel_modal blue darken-2">Aceptar</a>
                <a id="xml-btn" class="waves-effect waves-light btn modal-action">XML</a>
            </div>
        </div>
        <footer class="page-footer light-blue darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>                
        <script type="text/javascript" src="/js/abi.js"></script>
        <script type="text/javascript" src="/js/conf.js"></script>
        <script type="text/javascript" src="/js/methods.js"></script> 
        <script type="text/javascript" src="/js/main.js"></script> 
        <script type="text/javascript" src="/js/balance.js"></script>                             
        <script type="text/javascript" src="/js/operations/operations.js"></script>                             
         
    </body>
</html>
