<!DOCTYPE html>
<html>
    <title>WallETH</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#01579B" />
    </head>

    <body> 
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended light-blue darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Balance total:</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Balance total:</a>
                        </div>
                    </div>
                    <div class="nav-content center">

                        <a id="update-content" class=" btn btn-floating btn-large tooltipped halfway-fab waves-effect waves-light lime darken-2 pulse" data-position="bottom" data-delay="50" data-tooltip="Actualizar contenido">
                            <i class="material-icons">cached</i>
                        </a>
                    </div>
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-4" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/blue.jpg" class="" >
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        <a><span class="white-text name">ETHEREUM</span></a>
                        {{#if data}}                        
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>  
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs" class="collapsible-header">Inicio<i class="material-icons">home</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs/operations" class="collapsible-header">Operaciones<i class="material-icons">blur_on</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Administrador<i class="material-icons">account_circle</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/check-accounts">Consultar cuentas<i class="material-icons">account_balance_wallet</i></a></li>                                                                
                                    <li><a href="/ethWebjs/data-owners">Gestionar autorizadores<i class="material-icons">person_pin</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Solicitudes<i class="material-icons">assignment</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/pending-request">Pendientes<i class="material-icons">pause_circle_filled</i></a></li>
                                    <li><a href="/ethWebjs/exec-request">Ejecutadas<i class="material-icons">play_circle_filled</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Developers<i class="material-icons">code</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {{#if data}}
                                    <li><a href="/ethWebjs/swagger" target="_blank">API<i class="material-icons">adb</i></a></li>                                    
                                    <li>
                                        <a href="/ethWebjs/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href='/ethWebjs/create-user' class="collapsible-header">Registrarme<i class="material-icons">person_add</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/login' class="collapsible-header">Iniciar sesión<i class="material-icons">beenhere</i></a>                            
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{#if data}}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Contratos<i class="material-icons">insert_drive_file</i></a>
                            <div class="collapsible-body">
                                <ul>                                    
                                    <li>
                                        <a href="/ethWebjs/contracts">Crear contrato<i class="material-icons">note_add</i></a>
                                    </li>                                                                        

                                    <li>
                                        <a href='/ethWebjs/manage-contracts/' class="collapsible-header">Contratos creados<i class="material-icons">library_books</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/contracts/participant' class="collapsible-header"><i class="material-icons">assignment_ind</i>Participando</a>                            
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </header>
        <main class="center-align content">          

            <div class="row">
                <div class="col s12 m8 l8 offset-l2 offset-m2">
                    <div class="left-align">
                        <a id="addOwner" class="btn waves-effect waves-light blue darken-3"><i class="material-icons left">add</i>Agregar</a>
                    </div>
                    <br>
                    <table class="striped responsive-table centered" id="table-acc">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cuenta</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="content-pag">                                
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <div class="center-align">
                                        <div id="demo" class=""></div>
                                    </div>                                        
                                </td>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>                                    
        </main> 
        <div id="modal-confirm" class="modal modal-fixed-footer modal-msg">
            <div class="modal-content">
                <h4>¿Seguro que desea eliminar?</h4>
                <p> Este usuario podr&iacute;a haber firmado algunas transacciones, el eliminarlo no las afectar&aacute;.</p>
                <form id="form-delete">
                    <div class="input-field col col s12 m10 l10 offset-l1 offset-m1">                                
                        <input id="password_delete" name="password_delete" type="password" class="validate">
                        <label for="password_delete">Contrase&ntilde;a (administrador)</label>
                    </div>
                    <input type="hidden" id="id_owner_del">
                    <div class="col s12 center-align">
                        <span class="red-text password_delete-error error"></span>
                    </div>
                </form>
            </div>            
            <div class="modal-footer">
                <a class="waves-effect waves-light btn modal-action modal-close red darken-3 ">Cancelar</a>                                 
                <a id="confirm-detete" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
            </div>            
        </div>

        <div class="modal modal-fixed-footer" id="modal-addOwner">
            <div class="modal-content">
                <div class="center-align"><h4>Agregar nuevo autorizador</h4></div><br>
                <form id="addNew-form">
                    <div class="row">
                        <div class="input-field col s12 m10 l10 offset-l1 offset-m1 owner-option">

                        </div>
                        <div class="col s12 center-align">
                            <span class="red-text new_owner-error error"></span>
                        </div>
                        <div class="input-field col col s12 m10 l10 offset-l1 offset-m1">                                
                            <input id="password_add" name="password_add" type="password" class="validate">
                            <label for="password_add">Contrase&ntilde;a (administrador)</label>
                        </div>
                        <div class="col s12 center-align">
                            <span class="red-text password_add-error error"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn modal-action modal-close red darken-3 ">Cancelar</a>                                 
                <a id="confirm-add" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
            </div>
        </div>

        <div class="modal modal-fixed-footer" id="modal-changeOwner">
            <div class="modal-content">
                <div class="center-align"><h4>Sustituir autorizador</h4></div><br>
                <form id="subs-form">
                    <div class="row">
                        <div class="input-field col s12 m10 l10 offset-l1 offset-m1 owner-option-sbs"> 
                        </div>
                        <div class="col s12 center-align">
                            <span class="red-text substitute-error error"></span>
                        </div>
                        <div class="input-field col col s12 m10 l10 offset-l1 offset-m1">                                
                            <input id="password_subs" name="password_subs" type="password" class="validate">
                            <label for="password_subs">Contrase&ntilde;a (administrador)</label>
                        </div>
                        <div class="col s12 center-align">
                            <span class="red-text password_subs-error error"></span>
                        </div>
                        <input type="hidden" id="id_substitute">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-light btn modal-action modal-close red darken-3 ">Cancelar</a>                                 
                <a id="confirm-subs" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
            </div>
        </div>
        <footer class="page-footer light-blue darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/min/pagination.min.js"></script>
        <script type="text/javascript" src="/js/min/pagination.js"></script>        
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>                 
        <script type="text/javascript" src="/js/abi.js"></script>
        <script type="text/javascript" src="/js/conf.js"></script>
        <script type="text/javascript" src="/js/methods.js"></script> 
        <script type="text/javascript" src="/js/main.js"></script> 
        <script type="text/javascript" src="/js/balance.js"></script>     
        <script type="text/javascript" src="/js/admin/owners.js"></script>     
        <script type="text/javascript" src="/js/tables/owners.js"></script>     
        <script type="text/javascript" src="/js/admin/subsOwner.js"></script>     
        <script type="text/javascript" src="/js/request/ownerDeleteRequest.js"></script>     
        <script type="text/javascript" src="/js/admin/addOwner.js"></script>     
        <script type="text/javascript" src="/js/request/addOwnerRequest.js"></script>             
        <script type="text/javascript" src="/js/request/changeOwnerRequest.js"></script>             

    </body>
</html>
