.modal-formsg{
    width: 50% !important;
    height: 50% !important;
}
.modal.modal-conf{
    height: 25% !important;
    width: 40%;
}
html, body .my-wrapper{
    height: 100%;
}
.material-icons.md-88 { font-size: 208px; }


@media only screen and (max-width:992px ){
    .material-icons.md-88 { font-size: 108px; }
    .modal-formsg{
        width: 80% !important;
        height: 80% !important;
    }

    .modal.modal-conf{
        height: 25% !important;
        width: 90% !important;
    }
}

@media (max-width:992px) and (orientation:landscape) {
    .material-icons.md-88 { font-size: 108px; }
    .modal-formsg{
        width: 90% !important;
        height: 90% !important;
    }
}