body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(30,144,255, 0.65);
}

.bold{
    font-weight: bold !important;
}

main{
    margin-top: 25px;
    flex: 1 0 auto;
}

.message{
    display: none;
}

.success-msg{
    background-color: #0288d1 !important;
    color: white;
}

.error{
    font-size: 12px;
}

li.active {
    background-color: #01579B !important;
}

.no-back{
    background-color:  rgba(0, 0, 0, 0)  !important;
    box-shadow: none !important;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 25%;
    width: 40%;
}

.modal.modal-msg{
    height: 35% !important;
    width: 40%;
}

.modal.modal-msg_complete{
    height: 35% !important;
    width: 40%;
}
.head-contain{
    padding: 0 5% 5% 5%;
}

.span-balance{
    display: none;
}

.fixed-action-btn{
    right:50px;
}

.btn-floating{
    right: 150px !important;
}

.btn-more{
    right: 50px !important;
    bottom: 20px !important;
}

.mobile-accounts{
    display: none;   
}

.browser-accounts{
    display: block;
}
.content{
    padding-left: 300px;
    width: 100%;    
}

.span-mobile{
    display: none;
}

@media only screen and (max-width:992px){
    main{
        margin-top: 12px;
        flex: 1 0 auto;
    }
    .span-balance{
        display: block;
        margin-right: 60px !important;
    }

    .span-mobile{
        display: block;
    }

    .mobile-accounts{
        display: block;   
    }

    .div-balance{
        display: none !important;
    }
    .browser-accounts{
        display: none;
    }
    .btn-floating{
        right: 15px !important;
    }

    .modal {
        width: 100% !important;
        height: 500vw !important;
    }

    .modal.modal-fixed-footer {
        top: 12% !important;
        padding: 0;
        height:900vw !important;
    }
    .font-mobil{
        font-size: 22px;
    }

    .tbl-font{
        font-size:11px; 
    }

    .content{
        padding-left: 0;
        width: 100%;
    } 

    .modal.modal-msg_complete{
        height: 25% !important;
        width: 80% !important;
    }

    .modal.modal-msg{
        height: 45% !important;
        width: 90% !important;
    }

    .btn-more{
        right: 0px !important;
        bottom: 0px !important;
    }


}

@media (max-width:992px) and (orientation:landscape) {
    main{
        margin-top: 18px;
    }
    .span-balance{
        display: block;
    }

    .div-balance{
        display: none !important;
    }
    .btn-floating{
        right: 20px !important;
    }

    .content{
        padding-left: 0;
        width: 100%;
    } 
}