<!DOCTYPE html>
<html>
    <title>WallETH</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#01579B" />
    </head>

    <body>   
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended light-blue darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Crear contrato</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Crear contrato</a>
                        </div>
                    </div>                    
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-4" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/blue.jpg" class="" >
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        

                        {{#if data}} 
                        <a class="btn btn-flat waves-effect waves-light white-text">Ver mi direcci&oacute;n</a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>  
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs" class="collapsible-header">Inicio<i class="material-icons">home</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs/operations" class="collapsible-header">Operaciones<i class="material-icons">blur_on</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Administrador<i class="material-icons">account_circle</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/check-accounts">Consultar cuentas<i class="material-icons">account_balance_wallet</i></a></li>                                                                
                                    <li><a href="/ethWebjs/data-owners">Gestionar autorizadores<i class="material-icons">person_pin</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Solicitudes<i class="material-icons">assignment</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/pending-request">Pendientes<i class="material-icons">pause_circle_filled</i></a></li>
                                    <li><a href="/ethWebjs/exec-request">Ejecutadas<i class="material-icons">play_circle_filled</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">                        
                        <li>
                            <a class="collapsible-header">Developers<i class="material-icons">code</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {{#if data}}
                                    <li><a href="/ethWebjs/swagger" target="_blank">API<i class="material-icons">adb</i></a></li>                                    
                                    <li>
                                        <a href="/ethWebjs/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href='/ethWebjs/create-user' class="collapsible-header">Registrarme<i class="material-icons">person_add</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/login' class="collapsible-header">Iniciar sesión<i class="material-icons">beenhere</i></a>                            
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>                        
                    </ul>
                </li>
                {{#if data}}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Contratos<i class="material-icons">insert_drive_file</i></a>
                            <div class="collapsible-body">
                                <ul>                                    
                                    <li>
                                        <a href="/ethWebjs/contracts">Crear contrato<i class="material-icons">note_add</i></a>
                                    </li>                                                                        
                                    
                                    <li>
                                        <a href='/ethWebjs/manage-contracts/' class="collapsible-header">Contratos creados<i class="material-icons">library_books</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/contracts/participant' class="collapsible-header"><i class="material-icons">assignment_ind</i>Participando</a>                            
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </header>
        <main class="center-align content">
            <div class="row">
                <div class="col l10 m12 s12 offset-l1">
                    <div class="row">
                        <div class="col l12 m8 s12 offset-m2">
                            <div class="card z-depth-3">
                                <form id="smart-form" method="POST">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="progress">
                                                <div class="indeterminate"></div>
                                            </div>
                                            <div class="card-title">Datos del contrato</div>
                                            <div class="input-field col l6 m6 s12">
                                                <input id="contractName" name="contractName" type="text">
                                                <label for="contractName">Nombre del contrato</label>
                                                <div class="col s12">
                                                    <span class="red-text contractName-error error"></span>
                                                </div>
                                            </div>                                            
                                            <div class="input-field col l6 m6 s12">
                                                <input id="ownerContract" name="ownerContract" type="text">
                                                <label for="ownerContract">Direcci&oacute;n del due&ntilde;o del contrato</label>
                                                <div class="col s12">
                                                    <span class="red-text ownerContract-error error"></span>
                                                </div>
                                            </div>                   
                                            <br><br><br><br><br>
                                            <div class="col l12 s12">
                                                <table class="counterparty responsive-table">
                                                    <thead>
                                                    <th class="center-align">
                                                        Principal
                                                    </th>
                                                    <th>
                                                        <div class="center-align">Contraparte(s)</div>                                                        
                                                    </th>                                                    
                                                    </thead>
                                                    <tbody>
                                                        <tr class="tr-section">
                                                            <td>
                                                                <div class="center-align">
                                                                    <i class="material-icons green-text">check</i>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="input-field">
                                                                    <input id="counter" name="counter[]" type="text">
                                                                    <label for="counter">Direcci&oacute;n 1</label>
                                                                    <div class="col s12">
                                                                        <span class="red-text counter-error error"></span>
                                                                    </div>
                                                                </div>                                                                
                                                            </td> 
                                                            <td>
                                                                <div class="center-align">
                                                                    <a id="add-counter" class="btn waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Agregar contraparte">
                                                                        <i class="material-icons">add</i>
                                                                    </a>
                                                                    <a id="drop-counter" class="btn waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Eliminar contraparte">
                                                                        <i class="material-icons">delete</i>
                                                                    </a>
                                                                </div>
                                                            </td>                                                             
                                                        </tr>
                                                    <div ></div>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br><br><br><br>                                                                                         
                                            <div class="col s12 l10 m10 offset-l1 offset-m1">
                                                <div class="input-field">
                                                    <textarea id="conditions" name="conditions" class="materialize-textarea"></textarea>
                                                    <label for="conditions">Condiciones</label>
                                                    <div class="col s12">
                                                        <span class="red-text conditions-error error"></span>
                                                    </div>
                                                </div> 
                                                <div class="switch">
                                                    <span>¿Las condiciones se cumplen?</span><br>
                                                    <label>
                                                        No
                                                        <input id="allow" name="allow" type="checkbox">
                                                        <span class="lever"></span>
                                                        Si
                                                    </label>
                                                </div>
                                                <input type="hidden" id="conditionsAcc" name="conditionsAcc" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content grey lighten-4">
                                        <div class="row">
                                            <div class="card-title">Datos del producto</div>
                                            <div class="input-field col l6 m6 s12">
                                                <input type="text" id="nameProduct" name="nameProduct" class="">
                                                <label for="nameProduct">Nombre del producto</label>
                                                <div class="col s12">
                                                    <span class="red-text nameProduct-error error"></span>
                                                </div>
                                            </div>
                                            <div class="input-field col l6 m6 s12">
                                                <input type="text" id="priceProduct" name="priceProduct">
                                                <label for="priceProduct">Precio del producto</label>
                                                <div class="col s12">
                                                    <span class="red-text priceProduct-error error"></span>
                                                </div>
                                            </div>
                                            <div class="input-field col s12">
                                                <textarea id="details" name="details" class="materialize-textarea"></textarea>
                                                <label for="details">Detalles del producto</label>
                                                <div class="col s12">
                                                    <span class="red-text details-error error"></span>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="right-align">
                                            <a class="waves-effect waves-light btn modal-action cancel_modal red darken-3">Cancelar</a>                        
                                            <a id="create_contract" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Crear</a>    
                                        </div>
                                    </div>

                                    <div id="modal-password" class="modal modal-msg modal-fixed-footer">
                                        <div class="modal-content">
                                            <h5>Para continuar ingrese su contrase&ntilde;a</h5>
                                            <br>
                                            <div class="input-field col l10 m10 s12 offset-l1 offset-m1">
                                                <i class="material-icons prefix">lock</i>
                                                <input id="password_main" name="password_main" type="text">
                                                <label for="password_main">Contrase&ntilde;a</label>
                                                <div class="col s12">
                                                    <span class="red-text details-error error"></span>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="modal-footer">
                                            <a class="waves-effect waves-light btn modal-action modal-close red darken-3">Cerrar</a>
                                            <a id="ready_contract" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="address" id="address" value="{{data.id}}">
                                </form>                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/contracts/index.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>
        <script type="text/javascript" src="/js/contracts/contracts.js"></script>
        <script type="text/javascript" src="/js/contracts/send.js"></script>     
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>
        <script type="text/javascript" src="/js/request/contracts/createContractRequest.js"></script>        
    </body>
</html>