<!DOCTYPE html>
<html>
    <title>WallETH</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />                
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#01579B" />
    </head>

    <body> 
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended light-blue darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Elegir una plantilla</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Elegir una plantilla</a>
                        </div>
                    </div>
                    <div class="nav-content center">

                    </div>
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-4" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/blue.jpg" class="" >
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        <a><span class="white-text name">ETHEREUM</span></a>
                        {{#if data}}                        
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>  
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs" class="collapsible-header">Inicio<i class="material-icons">home</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/ethWebjs/operations" class="collapsible-header">Operaciones<i class="material-icons">blur_on</i></a>

                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Administrador<i class="material-icons">account_circle</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/check-accounts">Consultar cuentas<i class="material-icons">account_balance_wallet</i></a></li>                                                                
                                    <li><a href="/ethWebjs/data-owners">Gestionar autorizadores<i class="material-icons">person_pin</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Solicitudes<i class="material-icons">assignment</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/ethWebjs/pending-request">Pendientes<i class="material-icons">pause_circle_filled</i></a></li>
                                    <li><a href="/ethWebjs/exec-request">Ejecutadas<i class="material-icons">play_circle_filled</i></a></li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Developers<i class="material-icons">code</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    {{#if data}}
                                    <li><a href="/ethWebjs/swagger" target="_blank">API<i class="material-icons">adb</i></a></li>                                    
                                    <li>
                                        <a href="/ethWebjs/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href='/ethWebjs/create-user' class="collapsible-header">Registrarme<i class="material-icons">person_add</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/login' class="collapsible-header">Iniciar sesión<i class="material-icons">beenhere</i></a>                            
                                    </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                {{#if data}}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Contratos<i class="material-icons">insert_drive_file</i></a>
                            <div class="collapsible-body">
                                <ul>                                    
                                    <li>
                                        <a href="/ethWebjs/contracts">Crear contrato<i class="material-icons">note_add</i></a>
                                    </li>                                                                        
                                    
                                    <li>
                                        <a href='/ethWebjs/manage-contracts/' class="collapsible-header">Contratos creados<i class="material-icons">library_books</i></a>                            
                                    </li>
                                    <li>
                                        <a href='/ethWebjs/contracts/participant' class="collapsible-header"><i class="material-icons">assignment_ind</i>Participando</a>                            
                                    </li>                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </header>
        <main class="center-align content">          
            <div class="row">
                <div class="col l10 m10 s12 offset-l1 offset-m1">
                    <div class="row">
                        <div class="col s12 l4 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img class="responsive-img" src="/images/shopping.jpg">
                                    <span class="card-title">Contrato de venta</span>
                                </div>
                                <div class="card-content">
                                    Este contrato contiene la informaci&oacute;n para gestionar la venta de un bien
                                </div>
                                <div class="card-action">
                                    <a href="manage-contracts/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/shopping.jpg">
                                    <span class="card-title">Contrato de venta</span>
                                </div>
                                <div class="card-content">
                                    Este contrato contiene la informaci&oacute;n para gestionar la venta de un bien
                                </div>
                                <div class="card-action">
                                    <a href="manage-contracts/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/images/shopping.jpg">
                                    <span class="card-title">Contrato de venta</span>
                                </div>
                                <div class="card-content">
                                    Este contrato contiene la informaci&oacute;n para gestionar la venta de un bien
                                </div>
                                <div class="card-action">
                                    <a href="manage-contracts/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>                
            </div>

        </main>   
        <footer class="page-footer light-blue darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/min/pagination.min.js"></script>
        <script type="text/javascript" src="/js/min/pagination.js"></script>        
        <script src="/js/min/jquery.validate.min.js"></script>                        
    </body>
</html>
